<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/script.js}"></script>
<form id="bookForm">
    <input id="title">
    <input id="isbn">
    <button type="submit" id="addEmployee">add book</button>
</form>
<div>
    <div>
        <form id="isbn-form">
            <label> search by isbn</label>
            <input id="isbn-search">
            <button type="submit" id="isbn-search-button">add book</button>
        </form>
        <table id="found-isbn"> <thead> <th>name</th> <th>isbn</th> </thead> <tbody> </tbody> </table>
    </div>
    <div>
        <form id="title-form">
            <label> search by title</label>
            <input id="title-search">
            <button type="submit" id="title-search-button">add book</button>
        </form>
    </div>
    <table id="found-title"> <thead> <th>name</th> <th>isbn</th> </thead> <tbody> </tbody> </table>
</div>
<table id="books-table"> <thead> <th>name</th> <th>isbn</th> </thead> <tbody> </tbody> </table>
</div>
</body>
</html>