<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:method="post" th:object="${book}">
    <input th:field="*{title}">
    <input th:field="*{isbn}">
    <button type="submit" id="addEmployee">add book</button>
</form>
<table> <thead> <th>name</th> <th>isbn</th> </thead> <tbody> <tr th:each="book: ${books}"> <td th:text= "${book.title}"></td> <td th:text="${book.isbn}"></td> </tr> </tbody> </table>
</div>
</body>
</html>